.header{
    justify-content:left;
    background-color: palevioletred;
    font-size: 30px;
}
.header-title{
    font-size: 40px;
    color: bisque;
}
.nav{
    color: black;
    justify-content:space-between;
    display: block;
    gap: 15px;
}
.About{
    color: black;
    justify-content: center;
}
.About-title{
    background-color:aquamarine;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.About-Subtitle{
    background-color: aquamarine;
    font-size: 20px;
}
.project{
    padding: 49px;
    background-color: bisque;
}
.project-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.projects{
    font-size: 2opx;
    background-color:palevioletred;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.projects-title{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.project-description{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    background-color: azure;
}
.contact-title{
    font-size: 30px;
}
.contact-subtitle{
    font-size: 20px;
}
footer{
    background-color:wheat;
    font-size: 20px;
    color: black;
    text-align: center;
}